 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Reads</title>
    <link rel="stylesheet" href="css/style9.css">
 </head>
 <body>

    <header class="nav-header">
        <nav>
            <img src="images/Share Reads .png" alt="">
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar">
                <li id="home"><a href="/dashboard">HOME</a></li>
                <li id="profile"><a href="/profileInfo">PROFILE</a></li>
                <li id="booklist"><a href="/booklist">BOOK LIST</a></li>
                <li id="notifications"><a href="/notifications">NOTIFICATIONS</a></li>
                <li id="logout"><a href="/">LOG OUT</a></li>
            </ul>
        </nav>
    </header>

    <% if (notifications.length === 0) { %>
        <h1>You have no notifications</h1>
    <% } else { %>

        <section class="notifications">
            <div class="container">
                 <% notifications.forEach(notification => { %>
                    <div class="card">
                    
                            <form action="/notifications" method="post">

                            <div class="card-content">

                             <h2 class="modal-title">Book Request</h2>

                             <% if (typeof notification.fromUser.profileImage  != "undefined") { %>
                                <img src="<%= notification.fromUser.profileImage  %>" alt="User" class="img">
                            <% } else { %>
                                <img src="images/user.png" alt="User" class="img">
                            <% } %>

                              <div class="notification-text">
                                <h4><%= notification.fromUser.name %></h4> 
                                from 
                                <h4><%= notification.fromUser.address %></h4> 
                                wants to borrow your book 
                                <h4><%= notification.book.title %></h4>.
                              </div>

                             <p>
                             If you accept his request, we will email him your contact information. Otherwise you can canceled his request.
                             </p>

                           </form>
                           
                            <form action="/notifications" method="post">
                                   <input type="hidden" name="notificationId" value="<%= notification._id %>">
                                   <button type="submit" name="action" value="accept" class="btn-ac">Accept</button>
                                   <button type="submit" name="action" value="cancel" class="btn-ig">Cancel</button>
                           </form>

                        </div>
                    </div>
                <% }) %>
            </div>
        </section>

    <% } %>
    
    <footer>
        <div class="footer-padding"></div>
        <div class="footer">
            <p>Made with ❤️ by Durjoy</p>
        </div>
    </footer>
    
    <script>
        document.getElementById('mobile-menu').addEventListener('click', function () {
            this.classList.toggle('active');
            document.querySelector('.navbar').classList.toggle('active');
        });
    </script>

 </body>
 </html>
