<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Reads</title>
    <link rel="stylesheet" href="css/style5.css">
</head>
<body>
    <header class="nav-header">
        <nav>
            <a href="/dashboard"> <img src="images/Share Reads .png" alt=""></a>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar">
                <li id="home"><a href="/dashboard">HOME</a></li>
                <li id="profile"><a href="/profileInfo">PROFILE</a></li>
                <li id="booklist"><a href="/booklist">BOOK LIST</a></li>
                <li id="notifications"><a href="/notifications">NOTIFICATIONS</a></li>
                <li id="logout"><a href="/">LOG OUT</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="top">
        <div>
            <h1 class="title">Search Results for "<%= query %>"</h2>
        </div>
    </section>

    <section class="search-books">
        <form action="/searchBooks" method="GET" class="search-bar">
            <input type="text" name="query" placeholder="Search for a book" required>
            <button type="submit">Search</button>
        </form>
    </section>

    <section class="book-cards">
        <div class="container">
            <% if (books.length > 0) { %>
                <% books.forEach(function(book) { %> 
                    <div class="card">
                        <img src="<%= book.bookImage %>" alt="<%= book.title %>" class="img">
                        <div class="card-content">
                            <h2 class="card-title"><%= book.title %></h2>
                            <p class="card-author">by <%= book.author %></p>
                            <p class="card-owner">Owner: <%= book.userId.name %></p>
                            <p class="card-location">Location: <%= book.userId.division %></p>
    
                            <form action="/viewDetails" method="GET">
                                <input type="hidden" name="username" value="<%= book.userId.username %>">
                                <input type="hidden" name="bookId" value="<%= book._id %>">
                                <div class="btn-container">
                                    <button type="submit" class="btn">View</button>
                                </div>
                            </form>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="notFound">
                    <h2 class="notFound-content">No books found for "<%= query %>".</h2>
                </div>
            <% } %>
        </div>
    </section>

    <section class="load">
        <div class="btn-container">
            <% if (currentPage > 1) { %>
                <a href="/search?query=<%= query %>&page=<%= currentPage - 1 %>" class="btn">Prev</a>
            <% } %>
        </div>
        <div class="page-number">
            <p>Page <%= currentPage %> of <%= totalPages %></p>
        </div>
        <div class="btn-container">
            <% if (currentPage < totalPages) { %>
                <a href="/search?query=<%= query %>&page=<%= currentPage + 1 %>" class="btn">Next</a>
            <% } %>
        </div>
    </section>


    <footer>
        <div class="footer">
            <div class="footer-content">
                <p>Made with ❤️ by CSE Dept. of JUST</p>
            </div>
            <div class="contact">
                <p>Contact us: <a href="mailto:sharereadsbd@gmail.com">sharereadsbd@gmail.com</a></p>
            </div>
        </div>
        <hr>
        <p>All rights reserved © Share Reads 2024</p>
    </footer>


    
    <script>
        document.getElementById('mobile-menu').addEventListener('click', function () {
            this.classList.toggle('active');
            document.querySelector('.navbar').classList.toggle('active');
        });
    </script>
    
</body>
</html>
